*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
 .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    width: 700px;
    height: 500px;
    background-color: #fff;
    border-radius: 25px;
}
.container .result{
    background: linear-gradient(#6141FC,#322DEB);
    color: #fff;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}
.container .result .marks{
    background: linear-gradient(#322DEB,#6141FC);
    border: 1px solid #322DEB;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 20px;
    margin: 50px 0 50px 75px;
}
.container .summary{
    background: #fff;
    width: 50%;
    padding: 20px;
}
.container .summary .btn{
    background-color: #303B59;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    margin-top: 150px;
    padding: 15px;
    font-size: 20px; 
}
.reaction,.memory,.verbal,.visual{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}
.reaction{
    background-color:rgb(255, 244, 244);
}
.memory{
    background-color: rgb(252, 248, 241);
}
.verbal{
    background-color: #effffb;
}
.visual{
    background-color: #f7f8fd;
}